<img src="/assets/img/cv.jpg/" alt="">

<div class="container">
  <div class="text"><br><br>  
 <h2 style="font-size: 40px; font-style: italic;"><b> Hi all I'am Samina</b></h2>
    <p style="font-size: 25px; font-style: italic;">
       A passionate Full Stack Software Developer having an
        experience of Building and Web <br>and Mobile Applications   
        With Javascript/<br>React js/ Angular js and some other Cool<br>
        libraries and Framework.
    </p>
  </div>
  <fa-icon [icon]="faCoffee"></fa-icon><br>


  <i class="fas fa-hand-paper"></i>
  
    



    
    
    </div>
