<h2>Experiences:</h2><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">

<div class="card" style="width: 18rem;">
    <img src="/assets/img/angular.png/" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Angular 5 months experience.<br>
                           single application.<br>
                            typescript+js.</p>
    </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-6">

    <div class="card" style="width: 18rem;">
        <img src="/assets/img/js.png/" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Java Script 2months experience<br>
                               JS Library.<br>
                              JS+ES6.</p>
        </div>
      </div>
      </div>
      <div class="col-md-4 col-sm-6">

        <div class="card" style="width: 18rem;">
            <img src="/assets/img/html.jpg/" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">2 years experience.<br>
                                   made single page application.<br>
                                    HTML+CSS.</p>
            </div>
          </div>
          </div>
  </div>
  </div><br><br><br>
  <h2>Project</h2>

  <div class="container">

  <div class="col-md-4 col-sm-6">

    <div class="card" style="width: 18rem;">
        <img src="/assets/img/project.png/" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Web content recognisation system.<br>
                               Using Dreamweaver+php+Html+Css.<br>
                                Team work.</p>
        </div>
      </div>
      </div>
      </div>
  
