<div class="container">
<img src="/assets/img/funny.png/" alt="">
</div>
<br><br><br><br><br>
<div class="container">
    <div class="text">  
   <h3 style="font-size: 40px; font-style: italic;"><b><i> What I Do</i></b></h3>
   <table>
       <td><b><mark>HTML</mark></b></td>
       <td><b><mark>CSS</mark></b></td>
       <td><b><mark>JAVA SCRIPT</mark></b></td>
       <td><b><mark>ANGULAR</mark></b></td>
       <td><b><mark>REACT</mark></b></td>

   </table>
   <table>
       <tr>
           <li>JavaScript is the world's most popular programming language.</li>
           <li>Angular is a platform for building mobile and desktop web applications.</li>
           <li> React will efficiently update and render just the right components when your data changes. </li>
       </tr>
   </table>
   </div>
   </div>