<hr>
<h3>Education:</h3>
<img src="/assets/img/book.png/">
<div class="container">
    <div class="text">

<table>
    <tr>
        <li><b>Matric-></b>High School.</li>
        <li><b>ICS-></b>Graduate College(Woman).</li>
        <li><b>ACS-></b>Graduate College(Woman).</li>
        <li><b>MCS-></b>KFUEIT.</li>
    </tr>
</table>
</div>
</div>
<hr>
<h3>Course:</h3>
<img src="/assets/img/course.png/">
<div class="container">
<table>
    <tr>
        <li>Angular JS Frontend</li>
    </tr>
</table>
</div>
<hr>